<html>


<body background = 'http://cdn1.theodysseyonline.com/files/2016/01/04/6358748036944186621892622963_music.jpg'>

<head>
      <h1 style="font-size:64px;">Music Database</h1>
</head>  

    <form action = "/first">
       <input type="submit" value="The album of the recent three year" style="width:300px; height:150px;">
    </form>

    <form action = "/second">
       <input type="submit" value="The album of year" style="width:300px; height:150px;">
    </form>

     <form action = "/third">
       <input type="submit" value="How many albums did each artist release" style="width:300px; height:150px;">
    </form>

     <form action = "/fourth">
       <input type="submit" value="albums: similar genre with Swift" style="width:300px; height:150px;">
    </form>
        
    <form action = "/fifth">
       <input type="submit" value="Album of each year" style="width:300px; height:150px;">
    </form>

    <form action = "/sixth">
       <input type="submit" value="What songs in Fearless album of Swift" style="width:300px; height:150px;">
    </form>

   <form action = "/seventh">
       <input type="submit" value="In USA, which artist are in the country genre" style="width:300px; height:150px;">
    </form>

</body>
</html>
